<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
<div class="container">
  <div class="page-header text-center">
    <h1><i class="fa fa-mortar-board"></i> Dashboard</h1>
  </div>

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group pull-right" role="group">
      <a href="/logout" class="btn btn-warning">Logout</a>
    </div>
  </div><br>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title pull-left"> Your Classes </h3>
      <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#joinClass">
        Join New Class
      </button>
      <div class="clearfix"></div>

      <div id="joinClass" class="modal fade" role="form">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Join New Class</h4>
            </div>

            <div class="modal-body">
              <form action="/student/enroll/enroll/" method="post">
                <label>Select Teacher</label>
                <script>
                  $(document).ready(function () {
                    $("#teacherSelect").change(function () {
                      let teacherID = this.value;
                      console.log('optionSelected = ' + teacherID);
                      $.get('/student/enroll/classesForTeacher/?teacherID=' + teacherID, function (data) {
                        console.log('got data = ' + data);
                        $("#teacherClassSelect").empty();
                        data.forEach(function (classHere) {
                          $("#teacherClassSelect").append($("<option></option>").attr("value", classHere._id).text(classHere.name));
                        });
                      });
                    });
                  });
                </script>

                <select class="form-control" id="teacherSelect" name="teacherID">
                  <% teacherList.forEach(function(teacher) { %>
                  <option value=<%= teacher._id %>><%= teacher.google.name %></option>
                  <% }); %>
                </select>
                <br>
                <label>Select Class</label>
                <select class="form-control" id="teacherClassSelect" name="classID">
                  <% teacherClassList.forEach(function(classHere) { %>
                  <option value=<%= classHere._id %>><%= classHere.name %></option>
                  <% }); %>
                </select>
                <br>
                <label>Password</label><br>
                <input type="password" name="password">
                <button class="btn btn-primary pull-right" type="submit">Join Class</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Now for teh tablez -->

    <table class="table">
      <tr>
        <th>#</th>
        <th>Class Name</th>
        <th>Teacher</th>
      </tr>

      <% console.log('classList = ' + JSON.stringify(classList)); %>
      <% for (let i = 0; i < classList.length; i++) { %>
      <% let classHere = classList[i] %>
      <tr>
        <td><%= i + 1 %></td>
        <td><a href='/student/class/class/?classID=<%= classHere._id %>'><%= classHere.name %></a></td>
        <td><%= classHere.teacher.google.name %></td>
      </tr>
      <% } %>
    </table>

  </div>
</div>
</body>

</html>