<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/public/style.css">

  <script>
    var cardCount = 0;
    var cardList = [];
    <% cardList.forEach(function(card) { %>
    cardList.push({
      front: "<%= card.front %>",
      back: "<%= card.back %>",
      datatype: "<%= card.datatype %>"
    });
    <% }); %>

    function setBoth() {
      var cardBack = $("<textarea/>").html(cardList[cardCount].back).text();
      $('#cardBack').text(cardBack);
    }
    function setFront() {
      $('#cardBack').text('');
      var cardFront = $("<textarea/>").html(cardList[cardCount].front).text();
      $('#cardFront').text(cardFront);
      $('#deckProgress').prop('aria-valuenow', cardCount + 1);
      $('#deckProgress').prop('style', 'width: ' + (cardCount + 1) / cardList.length * 100 + '%');
      $('#deckProgress').text(cardCount + 1 + ' / ' + cardList.length);
    }
    function nextCard() {
      if ($('#cardFront').text() && !$('#cardBack').text()) {
        setBoth();
      } else if ($('#cardFront').text() && $('#cardBack').text()) {
        if (cardCount < cardList.length - 1) {
          cardCount++;
          setFront();
        }
      }
    }
    function previousCard() {
      if ($('#cardFront').text() && !$('#cardBack').text()) {
        setBoth();
      } else if ($('#cardFront').text() && $('#cardBack').text()) {
        if (cardCount > 0) {
          cardCount--;
          setFront();
        }
      }
    }
    $(document).keydown(function (event) {
      const KEY_RIGHT = 39;
      const KEY_LEFT = 37;
      const KEY_UP = 38;
      const KEY_DOWN = 40;

      if (event.which === KEY_RIGHT || event.which === KEY_DOWN) {
        nextCard();
      } else if (event.which === KEY_LEFT || event.which === KEY_UP) {
        previousCard();
      }
    });

    $(document).ready(function () {
      $('#deckProgress').prop('aria-valuemax', cardList.length).prop('style', 'width: ' + 1 / cardList.length * 100 + '%');
      $('#deckProgress').text(cardCount + 1 + ' / ' + cardList.length);
    });

    $('#shuffleButton').click(function () {
      alert('clicked!');
      cardList = shuffle(cardList);
      reloadCurrentCard();
    });

    function shuffle(array) {
      for (var i = array.length - 1; i > 0; i--) {
        var j = Math.floor(Math.random() * (i + 1));
        var temp = array[i];
        array[i] = array[j];
        array[j] = temp;
      }
      return array;
    }

    function reloadCurrentCard() {
      if ($('#cardFront').text() && $('#cardBack').text()) {
        setBoth();
      } else {
        setFront();
      }
    }

    function restartDeck() {
      cardCount = 0;
      reloadCurrentCard();
    }
  </script>
</head>
<body>
<div class="container">
  <div class="page-header text-center">
    <h1><i class="fa fa-mortar-board"></i><%= deckInfo.name %></h1>
  </div>

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
      <a href="/student/dashboard" class="btn btn-default">Dashboard</a>
      <a href="/student/class/class/?classID=<%= classInfo._id %>"
         class="btn btn-default"><%= classInfo.name %></a>
    </div>

    <div class="btn-group pull-right" role="group">
      <a href="/logout" class="btn btn-warning">Logout</a>
    </div>
  </div>
  <br>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="progress panel-title">
        <div id="deckProgress" class="progress-bar" role="progressbar"></div>
      </div>
    </div>

    <div class="panel-body">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button class="btn btn-default" id="shuffleButton">Shuffle</button>
          <button class="btn btn-default" id="restartButton">Restart</button>
          <button class="btn btn-default" id="reverseButton">Reverse</button>
        </div>
      </div>
    </div>

    <div class="row container">
      <div class="well col-md-5 paddedWell">
        <h4><div id="cardFront"><%= cardList[0].front %></div></h4>
      </div>

      <div class="well col-md-5 paddedWell">
        <h4><div id="cardBack"></div></h4>
      </div>
    </div>
  </div>

</div>
</body>
</html>
