<!doctype html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../../public/style.css">
</head>
<body>
<div class="container">
  <div class="page-header text-center">
    <h1><%= classInfo.name %></h1>
  </div>

  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a data-toggle="tab" href="#deckList">Decks</a></li>
    <li role="presentation"><a data-toggle="tab" href="#studentList">Students</a></li>
  </ul>

  <div class="tab-content">
    <div id="deckList" class="tab-pane fade in active">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title pull-left"> Your Decks </h3>
          <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#newDeck">New Deck</button>
          <div class="clearfix"></div>

          <div id="newDeck" class="modal fade" role="form">
            <div class="modal-dialog">

              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">New Deck</h4>
                </div>
                <div class="modal-body">
                  <form action="/teacher/class/createDeck/?classID=<%= classInfo._id %>" method="post">
                    <input type="text" class="form-control" name="name" placeholder="Name">
                    <input type="text" class="form-control" name="description" placeholder="Description">
                    <br>
                    <button class="btn btn-primary" type="submit">Create</button>
                  </form>
                </div>
              </div>

            </div>
          </div>

        </div>
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
          <% deckList.forEach(function(deck) { %>
          <% console.log('deck = ' + JSON.stringify(deck)); %>
          <tr>
            <td><%= deck.name %></td>
            <td><%= deck.description %></td>
            <td>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  ...
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href=<%= '/teacher/deck/?id=' + deck._id + '#edit' %>>Edit</a></li>
                  <li><a href=<%= '/teacher/deck/?id=' + deck._id + '#students' %>>Students</a></li>
                  <li><a href=<%= '/teacher/deck/?id=' + deck._id + '#stats' %>>Statistics</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href=<%= '/teacher/deleteDeck/?id=' + deck._id %>>Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <% }); %>
        </table>
      </div>
    </div>
    <div id="studentList" class="tab-pane fade">
      <h3>Students</h3>
    </div>
  </div>
</div>
</body>
</html>